body {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.85);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-content {
    max-width: 810px;
    width: 100%;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 16px;
}

.facepalm {
    width: 300px;
    margin-right: 60px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 600;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 10px;
}

h4 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;

}

p {
    margin-bottom: 15px
}

.bc {
    font-family: 'EB Garamond';
    font-style: italic;
    font-size: 24px;
    font-weight: 50;
    margin-bottom: 15px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.7)
}

a {
    color: rgba(22, 144, 255, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    cursor: zoom-in;
}

a[href^="mailto:"] {
    font-size: 14px;
    line-height: 20px;
    color: rgba(170, 168, 197, 1);
}

a[href^="mailto:"]:hover {
    color: rgba(22, 144, 255, 1);
}

.navigation {
    user-select: none;
    display: block;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    align-self: flex-start; 
    width: 300px;
    margin-top: 129px;
    margin-right: 60px;
    padding-top: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    background-color: #FFFFFF;
}

.navigation li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 7px 0px 7px 10px;
    vertical-align: middle;
}

.navigation a {
    color: rgba(0, 0, 0, 0.7);
}

.active {
    font-weight: 700;
    background: url('IMG/Rectangle.svg') no-repeat left center;
}

li a {
    color: rgba(0, 0, 0, 0.7);
}

.site-title {
    width: 100%;
    background: linear-gradient(89.99deg, #E4E3FF 0.01%, #FDE8FF 25%, #FFF3E7 52.08%, #FFE8E7 74.99%, #E7E7F8 99.99%);
    color: rgba(0, 7, 71, 0.4);
    display: grid;
    grid-template-columns: 68px 1fr 68px;
    align-items: center;
}

.title-container {
    justify-self: center;
    margin-top: 8px;
    margin-bottom: 12px;
}

.title-container span {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 100;
    font-size: 28px;
    line-height: 36px;
}

.burger {
    background-image: url('IMG/burger-light.svg');
    width: 66px;
    height: 66px;
    cursor: pointer;
    visibility: hidden;
}

.gradient-divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        to right,
        rgba(190, 190, 255, 1),
        rgba(255, 183, 255, 1),
        rgba(255, 223, 186, 1),
        rgba(255, 200, 195, 1),
        rgba(191, 191, 255, 1)
    );
}

.text {
    max-width: 810px;
    margin-bottom: 100px;
    margin-right: 100px;
}

.next-article-wrap {
    user-select: none;
    margin-top: 30px;
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    color: rgba(22, 144, 255, 1);
    background: transparent;
    border-radius :16px;
    position: relative;
    background: linear-gradient(
        to right,
        rgba(202, 202, 255, 1),
        rgba(255, 206, 255, 1),
        rgba(255, 230, 202, 1),
        rgba(255, 212, 209, 1)
    );
    padding: 3px;
}

.next-article-wrap a:hover {
    text-decoration: none;
}

.next-article {
    cursor: pointer;
    border-radius :15px;
    background: #FFFFFF;
    padding-top: 18px;
    padding-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark; 
        background-color: #121212;
    }
    body {
        background-color: #121212;
        color: rgba(255, 255, 255, 0.9);
    }
    footer div a[href^="mailto:"] {
        color: rgba(255, 255, 255, 0.5);
    }
    img {
        opacity: 0.9;
      }
    .navigation {
        background-color: #121212;
    }
    .bc, .navigation, .navigation a {
        color: rgba(255, 255, 255, 0.9);
    }
    .site-title {
        background: none;
        color: rgba(147, 135, 183, 0.7);
    }
    .title-container {
        margin-top: 10px;
        margin-bottom: 12px;
    }
    .gradient-divider {
        background: linear-gradient(
            to right,
            rgba(69, 69, 194, 0.5),
            rgba(220, 111, 220, 0.5),
            rgba(233, 132, 15, 0.5),
            rgba(210, 58, 46, 0.5),
            rgba(49, 49, 174, 0.5)
        );
    }
    .next-article-wrap {
        background: linear-gradient(
            to right,
            rgba(46, 76, 182, 1),
            rgba(160, 35, 152, 1),
            rgba(160, 37, 41, 1),
            rgba(50, 19, 153, 1)
        );
    }
    .next-article {
        background-color: #121212;
    }
    .burger {
        background-image: url('IMG/burger-light.svg');
        width: 66px;
        height: 66px;
        opacity: 50%;
        cursor: pointer;
        visibility: hidden;
    }
  }

@media only screen 
    and (min-width: 300px)
    and (max-width: 1300px)
    {
        body {
            font-size: 16px;
            line-height: 20px;
        }
        h1 {
            font-size: 40px;
            line-height: 46px;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        
        h2 {
            font-size: 20px;
            line-height: 28px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 16px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        h4 {
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-family: 'EB Garamond';
            font-style: italic;
            font-weight: 400;
        }
        .burger {
            visibility: visible;
        }
        .navigation {
            position: absolute;
            width: 100%;
            top: -57px;
            left: 0;
            font-size: 16px;
            display: none;
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
        }
        .navigation ul {
            padding-left: 20px;
            padding-right: 24px;
            padding-bottom: 24px;
        }
        .navigation li {
            padding: 14px 0px 14px 10px;
        }
        .text {
            width: auto;
            margin-right: 0;
            margin-bottom: 50px;
            padding-left: 24px;
            padding-right: 24px;
            font-size: 16px;
            line-height: 24px;
        }
        .footer-content {
            margin-right: 0;
            padding-left: 24px;
            padding-right: 24px;
        }
        .facepalm {
            display: none;
        }
        .title-container span {
            font-size: 22px;
            line-height: 24px;
        }
    }

@media only screen 
    and (min-width: 705px)
    and (max-width: 1300px)
    {
        .navigation {
            left: 0;
            width: auto;
            padding-left: 12px;
            padding-right: 48px;
            padding-top: 12px;
            margin-top: 67px;
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
        }
    }